
@{
    ViewBag.Title = "AddClasslink";
    Layout = "~/Views/Shared/admin.cshtml";
}
@*<h2>AddClasslink</h2>*@


<div class="row p-5">
    <!--Starting of form card-->
    <div class="col-sm-3 card text-bg-light">
        <div class="card-body">
            <h4 class="card-title text-center" style=" color:#c6003d;"><b>ADD  Class Link </b></h4>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group mt-3">
                    <label for="exampleInputEmail">Batch Name:</label>
                    @*<input type="text" class="form-control" name="name" aria-describedby="AddBatch" placeholder="Enter Your Batch Name.." />*@
                    <select class="form-control" name="batch">
                        <option value="0">Choose Batch</option>
                        @foreach (var row in ViewBag.batches.Rows)
                        {
                            <option value="@row[0]">@row[1]</option>
                        }

                    </select>

                </div>

                <div class="form-group mt-3">
                    <label for="exampleInputEmail">Class Link:</label>
                    <input type="text" class="form-control" name="link" aria-describedby="AddBatch" placeholder="" />
                </div>
                <div class="form-group mt-3">
                    <label for="exampleInputEmail">Date:</label>
                    <input type="date" class="form-control" name="date" aria-describedby="AddBatch" placeholder="" />
                </div>


                <div class="row g-3 mt-3">
                    <div class="col">
                        <label for="exampleInputEmail">Start Time:</label>
                        <input type="time" class="form-control" aria-label="First name" name="stime">
                    </div>
                    <div class="col">
                        <label for="exampleInputEmail">End Time:</label>
                        <input type="time" class="form-control" placeholder="Last name" aria-label="Last name" name="etime">
                    </div>
                </div>

                <label for="exampleInputEmail" class="mt-4" name="message">Message:</label>
                <textarea class="form-control"></textarea>

                <input type="submit" class="btn btn-success mt-4" style="background:#c6003d;" value="ADD NOW" />

            </form>
        </div>
    </div>
    <!--End of form card-->
    <div class="col-sm-8 card  ms-5">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Batch</th>
                        <th>Class Link</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Message</th>
                        <th>Added On</th>
                        <th>Action</th>
                       
                    </tr>

                </thead>
                <tbody>
                    @{
                        if (ViewBag.link != null)
                        {
                            foreach (var data in ViewBag.link.Rows)
                            {
                                <tr>
                                    <td>@data[0]</td>
                                    <td>@data[1]</td>
                                    <td>@data[2]</td>
                                    <td>@data[3]</td>
                                    <td>@data[4]</td>
                                    <td>@data[5]</td>
                                    <td>@data[6]</td>
                                    <td>@data[7]</td>
                                    <td><i class="fa fa-trash text-bg-warning"></i></td>
                                </tr>
                            }
                        }
                    }

                </tbody>

            </table>

        </div>

        </div>

    </div>